<form class="form">
     <h1>Nuevo Movimiento</h1>


     <p>Descripción:</p>
     <input class="field" type="text" @bind="descripcion" placeholder="Expense or Purchase">

     <p>Monto:</p>
     <input class="field" type="number" @bind=monto>

     <p>Categoría:</p>
     <select class="field" @bind="categoria">
          <option value="@Categoria.Gasto">@Categoria.Gasto</option>
          <option value="@Categoria.Lujo">@Categoria.Lujo</option>
          <option value="@Categoria.Viaje">@Categoria.Viaje</option>
          <option value="@Categoria.Donacion">@Categoria.Donacion</option>
          <option value="@Categoria.Educacion">@Categoria.Educacion</option>
          <option value="@Categoria.Imprevisto">@Categoria.Imprevisto</option>
     </select>

     <input class="button" type="button" @onclick="Agregar" value="Agregar">

</form>

@code {
     private string descripcion = "";
     private int monto = 1000;
     private Categoria categoria;

     void Agregar()
     {
          ManagerDeMovimentos.AddMovement(new Movimiento(monto, descripcion, categoria));
          ManagerDeMovimentos.MostrarMovimientos();
     }
}